h3 {
  margin: 10px auto;
}

.container .container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container-header-title {
  vertical-align: middle;
  margin-left: 5.21%;
}

.container .container-header-theme {
  margin-right: 5.21%;
}

.container .container-header-theme-title {
  vertical-align: middle;
}

.container .container-header-theme-title .icon {
  vertical-align: middle;
  margin: 10px;
}

.container .container-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

@media only screen and (max-width: 750px) {
  .container .container-tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 751px) {
  .container .container-tools {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 751px) {
  .container .container-tools {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.container .container-tools-search {
  margin-top: 1%;
  margin-left: 5.21%;
  line-height: 50px;
  height: 50px !important;
  vertical-align: middle;
  border-radius: 5px;
  padding-bottom: 0;
}

@media only screen and (max-width: 750px) {
  .container .container-tools-search {
    width: 89.58%;
  }
}

@media only screen and (min-width: 751px) {
  .container .container-tools-search {
    width: 89.58%;
  }
}

@media only screen and (min-width: 751px) {
  .container .container-tools-search {
    width: 33%;
  }
}

.container .container-tools-search .icon {
  margin-left: 10.6%;
}

.container .container-tools-search input {
  position: relative;
  width: 50%;
  margin: 0;
  border: 0;
  padding-left: 10.6%;
}

.container .container-tools-search input:focus {
  border: 0px solid white !important;
  box-shadow: 0 0 0 white !important;
  -moz-box-shadow: 0 0 0 white !important;
  -webkit-box-shadow: 0 0 0 white !important;
  outline-offset: 0px !important;
  outline: none !important;
}

.container .container-tools-filter {
  margin-left: 5.55%;
}

@media only screen and (max-width: 750px) {
  .container .container-tools-filter {
    width: 40%;
  }
}

@media only screen and (min-width: 751px) {
  .container .container-tools-filter {
    width: 40%;
  }
}

@media only screen and (min-width: 751px) {
  .container .container-tools-filter {
    width: 15%;
    margin-right: 5.55%;
  }
}

.container .container-tools-filter p {
  line-height: 50px;
  padding-left: 5%;
  width: 100%;
  border-radius: 5px;
}

.container .container-tools-filter .icon {
  float: right;
  padding-right: 5.21%;
}

.container .container-tools-filter:hover .container-tools-filter-dropdown {
  display: block;
}

.container .container-tools-filter-dropdown {
  padding-left: 5.21%;
  margin-top: 0;
  position: absolute;
  list-style: none;
  width: inherit;
  padding-left: 0;
  display: none;
  border-radius: 5px;
}

.container .container-tools-filter-dropdown li {
  padding-left: 5.21%;
  margin: 10px auto;
}

.container section.container-countries {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.container section.container-countries .container-country {
  border-radius: 2%;
  overflow: hidden;
}

@media only screen and (max-width: 750px) {
  .container section.container-countries .container-country {
    width: 89%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* 
                &:first-child {
                    margin-top: 45px;
                }
                &:last-child {
                    margin-bottom: 45px;
                } */
  }
}

@media only screen and (min-width: 751px) {
  .container section.container-countries .container-country {
    width: 89%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* 
                &:first-child {
                    margin-top: 45px;
                }
                &:last-child {
                    margin-bottom: 45px;
                } */
  }
}

@media only screen and (min-width: 751px) {
  .container section.container-countries .container-country {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 18.45%;
  }
  .container section.container-countries .container-country:nth-child(1), .container section.container-countries .container-country:nth-child(5) {
    margin-left: 2.6%;
  }
  .container section.container-countries .container-country:nth-child(4) {
    margin-right: 2.6%;
  }
  .container section.container-countries .container-country:nth-child(8) {
    margin-right: 2.6%;
  }
}

.container section.container-countries .container-country img {
  width: 100%;
}

.container section.container-countries .container-country h3,
.container section.container-countries .container-country p {
  padding-left: 15px;
}

.container section.container-countries .container-country p {
  margin: 1% auto;
}

.container section.container-countries .container-country p span {
  font-weight: 600;
}

.container section.container-countries .container-country--capital {
  padding-bottom: 10px;
}

/* 
@include device(desktop){}
@include device(mobile){}
 */
/*# sourceMappingURL=style.css.map */