
$BlueLightText: hsl(200, 15%, 8%);
$GrayLightInput: hsl(0, 0%, 52%);
$GrayLightBackground: rgb(250, 250, 250);
$LightElements: hsl(0, 0%, 100%) ;
.wrapper{
    box-shadow: 0 4px 12px 0px rgba(0,0,0,0.2);  
    background: $LightElements;  
}
.container {
    color: $BlueLightText;
    background: $GrayLightBackground;
    section.container-tools {
        .container-tools-search {
            color:$GrayLightInput;
            input {
                color:$GrayLightInput;
            }
        }
        .container-tools-filter {
            .container-tools-filter-dropdown {
                color:$GrayLightInput;
                background: white;
            }
        }
    }
}