$sm: 750px;
@mixin device($media) {
    @if $media == mobile {
        @media only screen and (max-width: $sm) {
            @content;
        }
    }
    @if else $media == desktop {
        @media only screen and (min-width: $sm + 1) {
            @content;
        }
    }
}
h3 {
    margin: 10px auto;
}
.container {
    .container-header {
        display: flex;
        justify-content: space-between;
        &-title {
            vertical-align: middle;
            margin-left: 5.21%;
        }
        &-theme {
            margin-right: 5.21%;
            &-title {
                vertical-align: middle;
                .icon {
                    vertical-align: middle;
                    margin: 10px;
                }
            }
        }
    }
    .container-tools {
        display: flex;
        @include device(mobile) {
            flex-direction: column;
        }
        @include device(desktop) {
            flex-direction: row;
            justify-content: space-between;
        }
        padding-top: 2%;
        &-search {
            margin-top: 1%;
            margin-left: 5.21%;
            @include device(mobile) {
                width: 89.58%;
            }
            @include device(desktop) {
                width: 33%;
            }
            line-height: 50px;
            height: 50px !important;
            vertical-align: middle;
            border-radius: 5px;
            padding-bottom: 0;
            .icon {
                margin-left: 10.6%;
            }
            input {
                position: relative;
                width: 50%;
                margin: 0;
                border: 0;
                padding-left: 10.6%;
                &:focus {
                    border: 0px solid white !important;
                    box-shadow: 0 0 0 white !important;
                    -moz-box-shadow: 0 0 0 white !important;
                    -webkit-box-shadow: 0 0 0 white !important;
                    outline-offset: 0px !important;
                    outline: none !important;
                }
            }
        }
        &-filter {
            @include device(mobile) {
                width: 40%;
            }
            @include device(desktop) {
                width: 15%;
                margin-right: 5.55%;
            }
            margin-left: 5.55%;
            p {
                line-height: 50px;
                padding-left: 5%;
                width: 100%;
                border-radius: 5px;
            }
            .icon {
                float: right;
                padding-right: 5.21%;
            }
            &:hover .container-tools-filter-dropdown {
                display: block;
            }
            &-dropdown {
                padding-left: 5.21%;
                margin-top: 0;
                position: absolute;
                list-style: none;
                width: inherit;
                padding-left: 0;
                display: none;
                border-radius: 5px;
                & li {
                    padding-left: 5.21%;
                    margin: 10px auto;
                }
            }
        }
    }
    section.container-countries {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
        .container-country {
            @include device(mobile) {
                width: 89%;
                margin-top: 30px;
                margin-bottom: 30px; /* 
                &:first-child {
                    margin-top: 45px;
                }
                &:last-child {
                    margin-bottom: 45px;
                } */
            }
            @include device(desktop) {
                margin-top: 10px;
                margin-bottom: 10px;
                &:nth-child(1),
                &:nth-child(5) {
                    margin-left: 2.6%;
                }
                @for $i from 1 through 8 {
                    @if $i % 4 == 0 {
                        &:nth-child(#{$i}) {
                            margin-right: 2.6%;
                        }
                    }
                }
                width: 18.45%;
            }
            border-radius: 2%;
            overflow: hidden;
            img {
                width: 100%;
            }
            h3,
            p {
                padding-left: 15px;
            }
            p {
                margin: 1% auto;
                span {
                    font-weight: 600;
                }
            }
            &--capital {
                padding-bottom: 10px;
            }
        }
    }
}
/* 
@include device(desktop){}
@include device(mobile){}
 */
