 
$BlueDarkElements: hsl(209, 23%, 22%);
$BlueDarkBackground: hsl(207, 26%, 17%);
$DarkText: hsl(0, 0%, 100%);


.wrapper{
    box-shadow: 0 4px 12px 0px rgba(0,0,0,0.2);  
    background: $BlueDarkElements;  
}
.container {
    color: $DarkText;
    background: $BlueDarkBackground;
    section.container-tools {
        .container-tools-search {
            color:$DarkText;
            input {
                color:$DarkText;
                background: $BlueDarkElements;
            }
        }
        .container-tools-filter {
            .container-tools-filter-dropdown {
                color:$DarkText;
                background: $BlueDarkElements;
            }
        }
    }
}
/* 
@include device(desktop){}
@include device(mobile){}
 */
